<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GScore</title>
</head>
<body>

<table cellpadding="0" cellspacing="0" style="width: 100%; background-color: #f6f6f6">
    <tbody>
        <tr>
            <td style="padding: 25px 0;">
                <table align="center" cellpadding="0" cellspacing="0" style="background-color: #ffffff; max-width: 600px; width: 100%; border: none; margin: 0 auto; border-spacing: 0; border-collapse: collapse;">
                    <tbody>
                        <tr>
                            <td style="width: 100%; vertical-align: top; border-bottom: 1px solid #eee">
                                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-spacing: 0; border-collapse: collapse;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 100%; padding: 20px 25px; vertical-align: top; font-size: 15px; font-family: Arial, Helvetica, sans-serif; line-height: 1.4; color: #333333;">
                                                {% block body %}{% endblock %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100%; vertical-align: top">
                                <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-spacing: 0; border-collapse: collapse;">
                                    <tbody>
                                        <tr>
                                            <td style="width: 100%; padding: 20px 25px; vertical-align: top; font-size: 12px; font-family: Arial, Helvetica, sans-serif; line-height: 1.4; color: #666666;">
                                                If it is an error just remove this mail.
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>
